<header class="header-library">
  <div class="container header">
    <nav class="navigation">
      <a class="navigation__logo" href="./index.html">
        <svg class="navigation__logo--icon">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <span class="navigation__logo--text" href="#"> Filmoteka </span>
      </a>
      <ul class="navigation__menu list">
        <li class="navigation__item">
          <a href="./index.html" class="navigation__link">HOME</a>
        </li>
        <li class="navigation__item navigation__link--current">
          <a href="./library.html" class="navigation__link">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <div class="movies-library">
      <div class="header__buttons">
        <button id="watchedButton" class="header__button header__button--active ">Watched</button>
        <button id="queueButton" class="header__button">Queue</button>
      </div>
    </div>
  </div>
</header>