<section class="section">
    <div class="container">
        <div class="pagination">
            <ul class="pagination__list list" id="pag">
                <!-- <li class="pagination__item pagination__item--arrow"><i class="fa-solid fa-arrow-left"></i></li>
                <li class="pagination__item pagination__item--number"><span>1</span></li>
                <li class="pagination__item pagination__item--dots"><span>...</span></li>

                <li class="pagination__item pagination__item--number"><span>13</span></li>
                <li class="pagination__item pagination__item--number"><span>14</span></li>
                <li class="pagination__item pagination__item--number pagination__item--active"><span>15</span></li>
                <li class="pagination__item pagination__item--number"><span>16</span></li>
                <li class="pagination__item pagination__item--number"><span>17</span></li>

                <li class="pagination__item pagination__item--dots"><span>...</span></li>
                <li class="pagination__item pagination__item--number"><span>20</span></li>
                <li class="pagination__item pagination__item--arrow"><i class="fa-solid fa-arrow-right"></i></li> -->
            </ul>
        </div>
    </div>
</section>