:root {
  --accent-color: #ff6b08;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header-main.jpeg');
}

.section {
  padding: 60px 0;
}

.container {
  width: 882px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

/*-------------------- Header --------------------*/

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 37px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navigation__logo {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navigation__menu {
  display: flex;
  gap: 29px;
}

.navigation__item {
  position: relative;
  cursor: pointer;
}

.navigation__link {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__link--current::after {
  position: absolute;
  display: flex;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
}

/*-------------------- Form --------------------*/

.form {
  display: flex;
  justify-content: center;
  position: relative;
}

.form__input {
  background: none;
  border: none;
  border-bottom: 0.5px solid #fff;
  width: 336px;
  height: 22px;
  color: #fff;
}

.form__input:focus {
  background: none;
  border: none;
  border-bottom: 0.5px solid var(--accent-color);
  width: 336px;
  height: 22px;
  color: #fff;
}

.form__button {
  position: absolute;
  right: 278px;
  top: 2px;
  border: none;
  background: none;
  color: #fff;
}

/*-------------------- movies --------------------*/

.movies-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.movie-card {
  width: 274px;
}
.movie-card__poster {
  width: 274px;
  height: 398px;
  border-radius: 5px;
  overflow: hidden;
}

.movie-card__image {
  width: 274px;
  height: 398px;
  object-fit: cover;
}

.movie-card__text {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding-top: 10px;
}

.movie-card__text--accent {
  color: var(--accent-color);
}

/*-------------------- Footer --------------------*/
footer {
  background: #f7f7f7;
}

.footer {
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__text--accent {
  color: var(--accent-color);
}

/* Media Querys */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .movies-gallery {
      width: 768px;
      justify-content: center;
    }
    
    .container {
      width: 768px;
    }

    .form__button {
    right: 220px;
}
}

/* Estilos para móviles (entre 768px y 767px) */
@media screen and (max-width: 767px) {
  .movies-gallery {
      width: 320px;
      justify-content: center;
    }

  .container {
    width: 320px;
  }
  
  .footer__text {
    font-size: 20px;
    line-height:35px;
}


.form__button {
    right: 30px;
}

.form__input {
  width: 270px;
}
}